[Unit]
Description = MergerFS Service
After=rclone-vfs.service
RequiresMountsFor=/home/sheldon/local
RequiresMountsFor=/home/sheldon/remote

[Service]
Type=forking
KillMode=none
ExecStart=/home/sheldon/bin/mergerfs \
    -o use_ino,func.getattr=newest,category.action=all \
    -o category.create=ff,cache.files=auto-full,threads=8 \
    /home/sheldon/local:/home/sheldon/remote /home/sheldon/mergerfs

StandardOutput=file:/home/sheldon/scripts/mergerfs_mount.log
ExecStop=/bin/fusermount -uz /home/sheldon/mergerfs
Restart=on-failure

[Install]
WantedBy=default.target
