[Unit]
Description=RClone Service
After=network-online.target

[Service]
Type=notify
KillMode=none
RestartSec=5
Environment=GOMAXPROCS=2

ExecStart=/usr/bin/rclone mount gdrive: /home/sheldon/remote \
--allow-other \
--dir-cache-time 720h \
--poll-interval=15s \
--rc \
--rc-web-gui \
--rc-user=sheldon \
--rc-pass=ramona123 \
--log-level INFO \
--cache-dir=/home/sheldon/cache/gdrive \
--vfs-cache-mode writes \
--vfs-cache-mode full \
--vfs-cache-max-size 400G \
--vfs-cache-max-age 336h

StandardOutput=file:/home/sheldon/scripts/rclone_vfs_mount.log
ExecStop=/bin/fusermount -uz /home/sheldon/remote
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
