[Unit]
Description=RClone Service
After=network-online.target

[Service]
Type=notify
KillMode=none
RestartSec=5
Environment=GOMAXPROCS=2

ExecStart=/usr/bin/rclone mount gdrive: /mnt/remote \
--allow-other \
--use-mmap \
--dir-cache-time 720h \
--poll-interval=15s \
--rc \
--rc-web-gui \
--log-level INFO

StandardOutput=file:~/scripts/rclone_vfs_mount.log
ExecStop=/bin/fusermount -uz /mnt/remote
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
