# Copied from https://github.com/animosity22/homescripts/master/systemd/rclone.service

### Edit <user> and gdrive to match rclone config remote

[Unit]
Description=RClone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/home/<user>/.config/rclone/rclone.conf
KillMode=none
RestartSec=5
ExecStart=/usr/bin/rclone mount gdrive: /mnt/remote \
--allow-other \
--dir-cache-time 5000h \
--attr-timeout 5000h \
--log-level INFO \
--poll-interval 10s \
--umask 002 \
#--user-agent someappname101 \
#--rc \
#--rc-addr :5572 \
#--rc-no-auth \
--cache-dir=/cache \
--drive-pacer-min-sleep 10ms \
--drive-pacer-burst 200 \
--vfs-cache-mode full \
--vfs-cache-max-size 10G \
--vfs-cache-max-age 24h \
--vfs-cache-poll-interval 5m \
#--bwlimit-file 32M \
--vfs-read-ahead 2G
StandardOutput=file:/home/<user>/scripts/rclone_mount.log
ExecStop=/bin/fusermount -uz /mnt/remote
ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true _async=true
Restart=on-failure
User=<user>
Group=<user>

[Install]
WantedBy=multi-user.target
